@media all {


body,ul,li {
	padding:0;
	margin:0;
	border:0;
	overflow: hidden;
	position: relative;
}

html {
	width:100%;  
	height: 100%;
	overflow:hidden;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-size:14px;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
	min-width: 100%;
}

#header {
	position:absolute; z-index:5;
	top:0; 
	left:0;
	width:100%;
	height:45px;
	line-height:45px;
	overflow: hidden;
	
	/* Header color gradient */
	background-image: linear-gradient(bottom, rgb(15,55,100) 51%, rgb(21,67,117) 64%, rgb(62,119,179) 100%);
	background-image: -o-linear-gradient(bottom, rgb(15,55,100) 51%, rgb(21,67,117) 64%, rgb(62,119,179) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(15,55,100) 51%, rgb(21,67,117) 64%, rgb(62,119,179) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(15,55,100) 51%, rgb(21,67,117) 64%, rgb(62,119,179) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(15,55,100) 51%, rgb(21,67,117) 64%, rgb(62,119,179) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.51, rgb(15,55,100)),
		color-stop(0.64, rgb(21,67,117)),
		color-stop(1, rgb(62,119,179))
	);
	
	padding:0;
	color:#eee;
	font-size:20px;
	text-align:left;
	/*padding-left: 50px;*/
	
}

}